*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: end;
}

.content {
  width: 1140px;
  max-height: 534px;
  margin: 133px 30px;
  display: grid;
  row-gap: 16px;
  column-gap: 30px;
  grid-template-areas:
    "result__video-container content__details"
    "search-form content__details";
}

.result__video-container {
  position: relative;
  grid-area: result__video-container;
  margin-top: 78px;
  margin-bottom: 16px;
  height: 386px;
  width: 711px;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.search-form {
  grid-area: search-form;
  display: flex;
  justify-content: space-between;
  max-height: 54px;
}

.search-form__fieldset {
  display: grid;
  row-gap: 5px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: normal;
  line-height: 21.6px;
  text-align: left;
  text-decoration-skip-ink: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 17px;
}

.search-form__label {
  text-align: left;
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  margin-right: 5px;
  position: relative;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: lighter;
  line-height: 21.6px;
  text-align: left;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  width: 225px;
}

.button {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.content__details {
  grid-area: content__details;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 399px;
}

.title {
  font-family: Oswald;
  color: rgba(255, 255, 255, 1);
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 140px;
  margin-bottom: 22px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  width: 100%;
}

.content__list-item {
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 27px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.content__card-link_current {
  background: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  width: 100%;
  word-spacing: 0.2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  text-transform: none;
  padding-top: 6px;
  letter-spacing: 0.03em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.more-button {
  height: 34px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  width: 384px;
  margin-left: 3px;
  margin-bottom: 3px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link:hover,
.button:hover,
.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__video-card:active,
.button:active {
  background: rgba(84, 80, 80, 1);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:active {
  background: rgba(84, 80, 80, 1);
}

.search-form__label:has(:focus-visible),
.search-form__submit-button:focus-visible,
.content__card-link:focus-visible,
.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.more-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}
